<!DOCTYPE html>
<html>

<head>
    <title>Big Bot Billy Bass</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!--includes library for photon communication (I think)-->
    <script>
        const ESP_IP = "http://192.168.0.105"; //global variable for the ESP32 IP
    </script>

    <h1>Big Bot Billy Bass</h1> 
    
    <img id = "billyFish" src="{{ url_for('static', filename='billy_bass_closed.png') }}" class="/static/billy-image" class="billy-image">

    <div class = "container1">
        <h2>Ask Billy Something</h2>

        <input id = "question" type = "text" placeholder = "Ask Billy Something">
        <button onclick = "askBilly()">Ask</button>

        <h2>Billy says:</h2>
        <div class="answerContainer">
            <p id = "answer"></p>
        </div>

        <button onclick = "playBilly()">▶ Play Billy</button>

        <audio id = "billyAudio">
            <source id = "audioSource" src = "/static/response.mp3" type = "audio/mpeg">
        </audio>

        <button onclick = "resetBilly()"><b>⭮</b> Reset Billy</button> <br><br>

        <div class = "container2">
            <button onclick = "Be_Happy()" id="Happy">Don't Worry, Be Happy</button> 

            <audio id = "Be_Happy">
                <source id = "song1" src = "/static/Billy_songs/Dont_Worry_Be_Happy.mp3" type = "audio/mpeg">
            </audio>
            
            <br>

            <button onclick = "To_The_River()" id="River">Take me to the River</button>

            <audio id = "To_The_River">
                <source id = "song2" src = "/static/Billy_songs/TAKE_ME_TO_THE_RIVER.mp3" type = "audio/mpeg">
            </audio>
        </div>

        <script>
            async function Be_Happy() {
                //triggers ESP32 over WiFi
                fetch(`${ESP_IP}/play/Happy`)
                    .then(res => res.text())
                    .then(data => console.log(data));
                
                let audio = document.getElementById("Be_Happy");
                audio.play(); //for if the fish is not connected
            }
            
            async function To_The_River() {
                //triggers ESP32 over WiFi
                fetch(`${ESP_IP}/play/River`)
                    .then(res => res.text())
                    .then(data => console.log(data));

                let audio = document.getElementById("To_The_River");

                audio.play(); //for if the fish is not connected
            }           
        </script>

        <!-- got all of this from chaptgpt -->
        <script> 
            async function resetBilly() {
                await fetch("/reset");

                document.getElementById("answer").innerText = "Billy forgot everything.";
            }

            async function askBilly() {
                let question = document.getElementById("question").value;

                document.getElementById("question").value = "";

                //show thinking message:
                document.getElementById("answer").innerText = "Billy is thinking...";

                //sends question to the server
                let response = await fetch("/ask", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({question: question})
                });

                //wait for the response from the server
                let data = await response.json();

                //update the text on the webpage
                document.getElementById("answer").innerText = data.answer;

                //load audio for webpage
                let audioSource = document.getElementById("audioSource");
                audioSource.src = "/static/response.mp3?" + new Date().getTime();

                let audio = document.getElementById("billyAudio");
                audio.load();

                // Wait until file is fully loaded, then play
                audio.oncanplaythrough = function () {
                    playBilly();
                };
            }

            function playBilly() {
                let audio = document.getElementById("billyAudio");
                let fish = document.getElementById("billyFish");

                audio.play(); //for if the fish is not connected

                //tells ESP32 to play response file
                fetch(`${ESP_IP}/play/response`)
                    .then(res => res.text())
                    .then(data => console.log(data));

                let mouthOpen = false;

                let talking = setInterval(function () { //shows Billy talking on the website
                    if (mouthOpen) {
                        fish.src = "{{ url_for('static', filename='billy_bass_open.png') }}";
                    }
                    else {
                        fish.src = "{{ url_for('static', filename='billy_bass_closed.png') }}";
                    }

                    mouthOpen = !mouthOpen;

                }, 150); //speed of mouth movement

                audio.onended = function() {
                    clearInterval(talking);
                    fish.src = "/static/billy_bass_closed.png";
                };
            }

            //tells ESP32 when events happen from the server to  trigger certain events
            const eventSource = new EventSource("/stream");
            
            eventSource.onmessage = function(event) {
                if (event.data == "new_audio") { //such as when new audio is available
                    console.log("Billy says new audio is ready!");

                    //load audio for webpage
                    let audioSource = document.getElementById("audioSource");
                    audioSource.src = "/static/response.mp3?" + new Date().getTime();

                    let audio = document.getElementById("billyAudio");
                    audio.load();

                    // Wait until file is fully loaded, then play
                    audio.oncanplaythrough = function () {
                        playBilly();
                    };
                } //plays response file when sent a signal saying the audio has been updated
                else if (event.data == "RIVER") { //when asked to play Take me to the River
                    console.log("Playing Take Me to the River");
                    To_The_River(); //calls function to play song on ESP32
                }
                else if (event.data == "HAPPY") { //Don't Worry, Be Happy
                    console.log("Playing Don't Worry, Be Happy");
                    Be_Happy(); //calls function to play song on ESP32
                }
                else if (event.data == "STOP") { //or to stop everything
                    console.log("Stopping playback");

                    let response = document.getElementById("billyAudio");
                    response.pause();
                    response.currentTime = 0;

                    let river = document.getElementById("To_The_River");
                    river.pause();
                    river.currentTime = 0;

                    let happy = document.getElementById("Be_Happy");
                    happy.pause();
                    happy.currentTime = 0;

                    //tells ESP32 to stop everything
                    fetch(`${ESP_IP}/play/stop`)
                    .then(res => res.text())
                    .then(data => console.log(data));
                }
            };

            document.getElementById("question").addEventListener("keypress", function(event) {
                if (event.key === "Enter") {
                    askBilly();
                }
            });

        </script>

    </div>
    
</body>

</html>
